---
# Ansible playbook for a SNAP:DRGN local development server.

- hosts: snap
  gather_facts: yes

  vars_files:
    - vars/main.yml

  roles:
    - geerlingguy.apache
    
  tasks:
    - name: Install the package "git"
      apt:
        name: git
    - name: Install the package "python-django"
      apt:
        name: python-django
    - name: Install the package "libapache2-mod-wsgi"
      apt:
        name: libapache2-mod-wsgi
    - name: Install the package "python-pip"
      apt:
        name: python-pip
    
    # Checkout code and data
    - name: Checkout SNAPMinions code and data (may take a while!)
      git:
        repo: https://github.com/Prosopographia/SNAP.git
        dest: /var/www/html/snap
        version: master
      ignore_errors: yes

    - name: install the snap django python requirements
      pip: 
        name: requests
        state: latest

    # Install 4store, configure and import data
    - name: Install the package "4store"
      apt:
        name: 4store
    
    - name: Configure 4store triplestore default database (snap)
      lineinfile:
        path: /etc/default/4store
        line: 'KB="snap"'
    
    - name: Configure 4store triplestore port (9000)
      lineinfile:
        path: /etc/default/4store
        line: 'PORT="9000"'
    
    - name: Stop 4store
      command: systemctl stop 4store
      become: yes

    - name: Setup 'snap' triplestore
      command: sudo 4s-backend-setup snap
    
    - name: Fix snap data directory permissions
      file:
        path: /var/lib/4store/snap
        owner: fourstore
        group: fourstore
        mode: 0775
        recurse: yes

    - name: Start 4store (port 9000)
      command: sudo systemctl start 4store
