---
# Ansible playbook for a SNAP:DRGN local development server.

- hosts: snap
  gather_facts: yes

  vars_files:
    - vars/main.yml

  roles:
    - geerlingguy.apache
    
  tasks:
    - name: Install the package "git"
      apt:
        name: git
    - name: Install the package "python-django"
      apt:
        name: python-django
    - name: Install the package "libapache2-mod-wsgi"
      apt:
        name: libapache2-mod-wsgi
    - name: Install the package "python-pip"
      apt:
        name: python-pip
    - name: Install the package "4store"
      apt:
        name: 4store
    
    - name: Checkout SNAPMinions code and data (may take a while!)
      git:
        repo: https://github.com/Prosopographia/SNAP.git
        dest: /var/www/html/snapcode
        version: master
      ignore_errors: yes

    - name: install the snap django python requirements
      pip: 
        name: requests
        state: latest

    - name: Configure 4store triplestore default database (snap)
      lineinfile:
        path: /etc/default/4store
        line: 'KB="snap"'
    - name: Configure 4store triplestore port (9000)
      lineinfile:
        path: /etc/default/4store
        line: 'PORT="9000"'

    - name: Setup 4store triplestore and import SNAP data
      command: 4s-backend-setup snap
    - name: Setup 4store triplestore and import SNAP data
      command: 4s-backend-setup snap
